.staff-slots {

    &-date{
        text-align: center;
        font-size: 2em;
        padding: 1.5rem;
    }

    &-message {
       text-align: center
    }

    &-times {
        list-style-type: none;
        padding: 0;
    }


    &-time {
        text-align: center;
        font-size: 1em;
        border: 1px solid rgba(0,0,0,.2);
        margin: .5em;
        transition: background-color 0.3s 0s ease-out;
        cursor: pointer;
        &:hover {
            background-color: rgba(0,0,0,.1);
        }

        button {
            background-color: inherit;
            border: none;
            padding: 1rem;
            width: 100%;
        }
    }
}
